main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.joke {
  padding: 0 10px;
  text-align: center;
  margin: 15px 0px;
  font-size: 24px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.joke-btn {
  margin-top: 45px;
  color: #de5e43;
  border: 1px solid #000000;
  border-radius: 8px;
  background-color: transparent;
  padding: 8px 20px;
  cursor: pointer;
  transition: background-color .2s;
  outline: none;
  font-size: 18px;
}

.joke-btn:hover {
  background-color: #de5e43;
  color: #ffffff;
}